@use "../../../Assets/Styles/variables.scss";

.contact__container {
  text-align: center;
  max-width: 100vw;
  min-height: 67vh;
  h2 {
    font-family: variables.$text-bold;
    font-size: 28px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
}

.contact__headline {
  margin-bottom: 20px;
  margin-top: 40px;
  font-size: 40px;
  font-family: variables.$text-bold;
}

.contact__mail {
  font-size: 20px;
  margin-bottom: 10px;
  span {
    font-family: variables.$text-bold;
  }
}

.contact__newsletter {
  margin: auto;
  line-height: 30px;
  max-width: 600px;
  font-size: 20px;
}

.d-none {
  display: none;
}

.contact__form {
  border: variables.$color-light-grey 5px double;
  width: 400px;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;

}

.contact__label {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
  width: 300px;
  justify-content: space-between;
  font-size: 20px;

  p{
    text-align: left;
    width: 100px;
  }
  select {
    width: 222px;
    background-color: variables.$color-light-grey;
    border-radius: 10px;
  }
  input {
    width: 200px;
    background-color: variables.$color-light-grey;
    border-radius: 5px;
  }
}

.contact__button {
  margin-top: 10px;
  padding: 10px 110px;
  font-size: 20px;
  margin-bottom: 20px;
}

.contact__part {
  span {
    font-size: 12px;
  }
}

.contact__image {
  max-height: 300px;
}