@use "./variables.scss";

.container {
  width: 1352px;
  margin: auto;
}

body {
  display: block;
  font-size: 16px;
  font-family: variables.$text-font;
  h1 {
    font-size: 40px;
    font-family: variables.$text-bold;
  }

}

.button {

  background-color: variables.$color-primary;
  color: variables.$color-white;
  text-decoration: none;
  font-family: variables.$text-bold;
  border-radius: 20px;
  border: none;
}